spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/examplesdb?useUnicode=true&serverTimezone=Asia/Seoul
    username: root
    password: Rdbckr69173+
    jpa:
      hibernate:
        ddl-auto: update
      properties:
        hibernate:
          show_sql: true
          format_sql: true
      database-platform: org.hibernate.dialect.MySQL8Dialect

#    prefix: classpath:/html/ default?? ????? ??? ??? ????
#    suffix: .fm