<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>글쓰기</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    글쓰기
                </div>
                <div class="card-body">
                    <form action="/board/register" method="post" id="1">
                        <input type="hidden" name="courseId" th:value="${course.courseId}">
                        <input type="hidden" name="userId" th:value="${loginInfo.userId}">

                        <div class="input-group mb-3">
                            <span class="input-group-text">이름</span>
                            <input type="text" name="name" class="form-control" th:value="${loginInfo.name}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">제목</span>
                            <input type="text" name="title" class="form-control" placeholder="토론 제목">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">내용</span>
                            <textarea class="form-control col-sm-5" rows="5" name="content" placeholder="토론할 내용"></textarea>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">이미지</span>
                            <div class="float-end uploadHidden">
                                <button type="button" class="btn btn-primary uploadFileBtn">파일 추가</button>
                            </div>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">확인</button>
                                <button type="reset" class="btn btn-secondary">다시 입력</button>
                            </div>
                        </div>
                    </form>
                </div><!--end card body-->

            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->

<!--    첨부파일 썸네일을 보여줄 부분-->
    <div class="row mt-3">
        <div class="col">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">

            </div>
        </div>
    </div>

<!--    첨부파일 추가를 위한 모달창-->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">업로드 파일</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">업로드</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dis/axios.min.js"></script>

    <script src="/js/upload.js"></script>

</div>


<script layout:fragment="script" th:inline="javascript">

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i = 0; i < errors.length ; i++){
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    const submitBtn = document.querySelector(".submitBtn");
    const closeModifyBtn = document.querySelector(".closeModifyBtn");

    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    document.querySelector(".uploadFileBtn").addEventListener("click", function (e) {

        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()

    }, false)

    document.querySelector(".uploadBtn").addEventListener("click", function (e) {

        e.stopPropagation()
        e.preventDefault()

        const formObj = new FormData();

        const fileInput = document.querySelector("input[name='files']")

        console.log(fileInput.files)

        const files = fileInput.files

        for(let i = 0; i < files.length; i++){
            formObj.append("files", files[i])
        }

        uploadToServer(formObj).then(result => {
            console.log(result)
            uploadModal.hide()
        }).catch(e => {
            uploadModal.show()
        })


    },false)

</script>
