<!--<body>-->
<!--<h1 th:text="${board.title}"></h1>-->
<!--<div>글쓴이 : <span th:text="${board.name}"></span></div>-->
<!--<div>제목 : <span th:text="${board.title}"></span></div>-->
<!--<div>조회수 : <span th:text="${board.viewCnt}"></span></div>-->
<!--<div>작성일 : <span th:text="${board.regdate}"></span></div>-->
<!--<div>내용 : <span th:text="${board.content}"></span></div>-->

<!--<div><a href="/">목록보기</a></div>-->
<!--&lt;!&ndash; 로그인 하지 않은 상태면 수정하기 ,삭제하기 비활성화 &ndash;&gt;-->
<!--&lt;!&ndash; 로그인한 사용자가 쓴 글인가? &ndash;&gt;-->
<!--<div><a th:href="@{/updateform(boardId=${board.boardId})}">수정하기</a></div>-->
<!--<div><a th:href="@{/delete(boardId=${board.boardId})}">삭제하기</a></div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>과제 상세보기</title>
    <style>
        hr {
            margin-top: 10px; /* 위쪽 간격 조정 */
            margin-bottom: 10px; /* 아래쪽 간격 조정 */
        }
        .comment-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        #commentText {
            width: 100%;
            box-sizing: border-box;
        }
        .button-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 5px;
        }
        #submitComment {
            padding: 5px 4px; /* 버튼 크기 조정 */
        }

    </style>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="d-flex justify-content-between">
                <strong><h6 style="font-size: 28px; margin-left: 18px" th:text="${assignment.title}">수업계획서</h6></strong>
            </div>
            <hr>
            <div class="ms-4">
                <div class="d-flex align-items-center">
                    <strong><span style="margin-right: 10px">교수</span></strong>
                    <span th:text="${assignment.user.name}"></span>

                    <strong><span style="margin-left: 40px; margin-right: 10px">점수</span></strong>
                    <span th:text="${assignment.maxScore}"></span>

                    <strong><span style="margin-left: 40px; margin-right: 10px">작성일</span></strong>
                    <span th:text="${#temporals.format(assignment.regdate, 'yyyy-MM-dd HH:mm:ss')}"></span>

                    <strong><span style="margin-left: 40px; margin-right: 10px">제출물</span></strong>
                    <div class="text-end" th:if="${isParticipant}">
                        <a th:if="${assignmentFile != null}" th:href="@{${'/Assignment/download/' + assignmentFile.assignmentFileId}}" download> 내가 제출한 파일 : [[${assignmentFile.origFilename}]]</a>
                        <span th:if="${assignmentFile == null}">파일이 없습니다.</span>
                    </div>
                </div>
            </div>
            <hr>

            <div>
                <textarea class="form-control col-sm-5" rows="5" readonly style="border: none">[[${assignment.content}]]</textarea>
            </div>

            <div class="my-4 text-center">
                <a th:href="@{/assignmentUpdateForm(assignmentId=${assignment.assignmentId})}" class="text-decoration-none" th:if="${isAdmin}">
                    <button type="button" class="btn btn-primary">수정</button>
                </a>

                <form th:action="@{/assignmentFileWriteForm}" method="get" th:if="${isParticipant}">
                    <input type="hidden" name="assignmentId" th:value="${assignment.assignmentId}" />
                    <input type="hidden" name="courseId" th:value="${course.courseId}">
                    <button type="submit" class="btn btn-primary">과제 제출 시작</button>
                </form>

            </div>

            <div class="border p-3 mb-2">
                <form class="comment-container" action="/submitComment" method="post">
                    <input type="hidden" name="contentId" th:value="${assignment.assignmentId}">
                    <input type="hidden" name="contentType" value="assignment">
                    <textarea id="commentText" name="comment" rows="6" cols="50" placeholder="댓글을 입력하세요"></textarea>
                    <div class="button-container">
                        <button type="submit" id="submitComment" class="btn btn-primary">작성</button>
                    </div>
                </form>
            </div>

            <ul th:each="comment : ${comments}" class="col">
                <div class="border p-3">

                    <div class="mt-0">
                        <input type="text" class="form-control border-0" th:value="${comment.user.name}" readonly style="font-size: 15px; color: #0d6efd">
                        <input type="text" class="form-control border-0" th:value="${#temporals.format(comment.createdAt, 'yyyy년 MM월 dd일')}" readonly style="font-size: 11px">
                        <textarea class="form-control col-sm-5 border-0" readonly th:text="${comment.content}"></textarea>
                    </div>

                </div>
                <div class="border p-3 mb-2">

                </div>

            </ul>

            <table class="table">
                <tr th:if="${isAdmin}">
                    <th scope="col">이름</th>
                    <th scope="col">파일</th>
                    <th scope="col">점수</th>
                </tr>
                <tr th:each="file : ${participantAssignments}" th:if="${isAdmin}">
                    <td th:text="${file.user.name}"></td>
                    <td>
                        <a th:href="@{'/Assignment/download' + ${file.assignmentFileId}}" download th:text="${file.origFilename}"></a>
                    </td>
                    <td>
                        <form th:action="@{/submitScore}" method="post">
                            <input type="hidden" name="currentCourseId" th:value="${assignment.course.courseId}">
                            <input type="hidden" name="assignmentId" th:value="${file.assignment.assignmentId}">
                            <input type="number" name="score" th:value="${file.score}">
                            <button type="submit" class="btn btn-primary">저장</button>
                        </form>
                    </td>
                </tr>
            </table>

        </div><!-- end col-->
    </div><!-- end row-->
</div>


<script layout:fragment="script" th:inline="javascript">



</script>


