<!--<body>-->
<!--<h1 th:text="${board.title}"></h1>-->
<!--<div>글쓴이 : <span th:text="${board.name}"></span></div>-->
<!--<div>제목 : <span th:text="${board.title}"></span></div>-->
<!--<div>조회수 : <span th:text="${board.viewCnt}"></span></div>-->
<!--<div>작성일 : <span th:text="${board.regdate}"></span></div>-->
<!--<div>내용 : <span th:text="${board.content}"></span></div>-->

<!--<div><a href="/">목록보기</a></div>-->
<!--&lt;!&ndash; 로그인 하지 않은 상태면 수정하기 ,삭제하기 비활성화 &ndash;&gt;-->
<!--&lt;!&ndash; 로그인한 사용자가 쓴 글인가? &ndash;&gt;-->
<!--<div><a th:href="@{/updateform(boardId=${board.boardId})}">수정하기</a></div>-->
<!--<div><a th:href="@{/delete(boardId=${board.boardId})}">삭제하기</a></div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>과제 상세보기</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    과제 상세보기
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">글쓴이</span>
                        <input type="text" class="form-control" th:value="${assignment.user.name}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">제목</span>
                        <input type="text" class="form-control" th:value="${assignment.title}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">점수</span>
                        <input type="number" class="form-control" th:value="${assignment.maxScore}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">내용</span>
                        <textarea class="form-control col-sm-5" rows="5" readonly>[[${assignment.content}]]</textarea>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">작성일</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(assignment.regdate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>

                    <div class="input-group mb-3" th:if="${isParticipant}">
                        <span class="input-group-text">파일</span>
                        <a th:if="${assignmentFile != null}" th:href="@{${'/Assignment/download/' + assignmentFile.assignmentFileId}}" download> 내가 제출한 파일 : [[${assignmentFile.origFilename}]]</a>
                        <span th:if="${assignmentFile == null}">파일이 없습니다.</span>
                    </div>

                    <div class="my-4">
                        <a th:href="@{/assignmentList(currentCourseId=${assignment.course.courseId})}" class="text-decoration-none">
                            <button type="button" class="btn btn-primary listBtn">목록</button>
                        </a>
                        <a th:href="@{/assignmentUpdateForm(assignmentId=${assignment.assignmentId})}" class="text-decoration-none" th:if="${isAdmin}">
                            <button type="button" class="btn btn-primary">수정</button>
                        </a>

                        <form th:action="@{/assignmentFileWriteForm}" method="get" th:if="${isParticipant}">
                            <input type="hidden" name="assignmentId" th:value="${assignment.assignmentId}" />
                            <button type="submit" class="btn btn-primary">과제 제출 시작</button>
                        </form>

                    </div>

<!--                    <style>-->
<!--                        input[type="text"], button {-->
<!--                            height: 50px;  /* 높이 조정 */-->
<!--                            width: 1000px;-->
<!--                            font-size: 16px;-->
<!--                            padding: 5px 10px;-->
<!--                        }-->
<!--                        button {-->
<!--                            height: 50px;-->
<!--                            width: 100px;-->
<!--                            font-size: 16px;-->
<!--                            margin-left: 0px;-->
<!--                            cursor: pointer;-->
<!--                        }-->
<!--                    </style>-->

                    <form action="/submitCommentToAssignment" method="post">
                        <input type="hidden" name="contentId" th:value="${assignment.assignmentId}">
                        <input type="hidden" name="contentType" value="assignment">
                        <input type="text" name="comment" placeholder="댓글을 입력하세요" required>
                        <button type="submit">작성</button>

                        <table class="table">
                            <tr>
                                <th scope="col">이름</th>
                                <th scope="col">내용</th>
                                <th scope="col">작성일</th>
                            </tr>

                        </table>
                    </form>


                    <table class="table">
                        <tr th:if="${isAdmin}">
                            <th scope="col">이름</th>
                            <th scope="col">파일</th>
                            <th scope="col">점수</th>
                        </tr>
                        <tr th:each="file : ${participantAssignments}" th:if="${isAdmin}">
                            <td th:text="${file.user.name}"></td>
                            <td>
                                <a th:href="@{'/Assignment/download' + ${file.assignmentFileId}}" download th:text="${file.origFilename}"></a>
                            </td>
                            <td>
                                <form th:action="@{/submitScore}" method="post">
                                    <input type="hidden" name="currentCourseId" th:value="${assignment.course.courseId}">
                                    <input type="hidden" name="assignmentId" th:value="${file.assignment.assignmentId}">
                                    <input type="number" name="score" th:value="${file.score}">
                                    <button type="submit" class="btn btn-primary">저장</button>
                                </form>
                            </td>
                        </tr>
                    </table>





                </div><!--end card body-->



            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->
</div>


<script layout:fragment="script" th:inline="javascript">



</script>


