<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>수업계획서</title>
</head>

<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          수업계획서
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <span class="input-group-text">담당교수명</span>
            <input type="text" class="form-control" th:value="${course.user.name}" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">교과목명</span>
            <input type="text" class="form-control" th:value="${course.title}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">수업 개요 및 목표</span>
            <textarea class="form-control col-sm-5" rows="5" readonly>[[${course.content}]]</textarea>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">작성일</span>
            <input type="text" class="form-control" th:value="${#temporals.format(course.regdate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
          </div>

          <div class="my-4">
<!--            <a th:href="@{/}" class="text-decoration-none">-->
<!--              <button type="button" class="btn btn-primary listBtn">목록</button>-->
<!--            </a>-->
<!--                        text-decoration-none 은 텍스트의 밑줄을 없애는 역할-->
            <a th:href="@{/courseUpdateForm(courseId=${course.courseId})}" class="text-decoration-none" th:if="${isAdmin}">
              <button type="button" id="updateButton" class="btn btn-primary">수정</button>
            </a>
          </div>
        </div><!--end card body-->
      </div><!--end card-->
    </div><!-- end col-->
  </div><!-- end row-->
</div>


<script layout:fragment="script" th:inline="javascript">
</script>


