<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>강의</title>
</head>

<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <h5><strong>최근 공지사항</strong></h5>
      <hr>
      <div class="container-fluid">
        <ui>
          <li th:if="${notices.isEmpty()}">
            <p>공지사항이 없습니다.</p>
          </li>
          <li th:each="notice : ${notices}">
            <a class="text-decoration-none" th:href="@{/notice/(noticeId=${notice.noticeId}, courseId=${course.courseId})}">
              <strong><h7 th:text="${notice.title}"></h7></strong>
            </a>
            <p th:text="${notice.content}"></p>
            <hr>
          </li>
        </ui>
      </div>
    </div><!-- end col-->
  </div><!-- end row-->
</div>


<script layout:fragment="script" th:inline="javascript">

  // function toggleButtonVisibility(){
  //   var condition = true;
  //
  //   var button = document.getElementById('updateButton');
  //
  //   if(condition){
  //     button.classList.remove('hidden');
  //   }else {
  //     button.classList.add('hieend');
  //   }
  // }
  //
  // // 페이지가 로드될 때 조건에 따라 버튼의 초기 가시성을 설정합니다.
  // window.onload = function () {
  //   toggleButtonVisibility();
  // };

</script>


