<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>강의</title>
</head>

<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <h5><strong>최근 공지사항</strong></h5>
      <hr>
      <div th:if="${notices.isEmpty()}">
        <p>공지사항이 없습니다.</p>
      </div>
      <div th:each="notice : ${notices}">
        <div class="ms-4">
          <a class="text-decoration-none text-black" th:href="@{/notice/(noticeId=${notice.noticeId}, courseId=${course.courseId})}">
            <strong><h7 th:text="${notice.title}"></h7></strong>
          </a>
          <div class="d-flex justify-content-between">
            <p th:text="${notice.content}" style="margin-bottom: 5px"></p>
            <div class="text-end">게시일시:</div>
          </div>
          <div class="d-flex justify-content-between">
            <a class="text-decoration-none text-light-brown" th:href="@{/notice/(noticeId=${notice.noticeId}, courseId=${course.courseId})}">
              <span th:text="'댓글 작성...'"></span>
            </a>
            <div class="text-end">[[${#temporals.format(notice.regdate, 'yyyy년 MM월 dd일 HH:mm')}]]</div>
          </div>
        </div>
        <hr>
      </div>
    </div><!-- end col-->
  </div><!-- end row-->
</div>


<script layout:fragment="script" th:inline="javascript">

  // function toggleButtonVisibility(){
  //   var condition = true;
  //
  //   var button = document.getElementById('updateButton');
  //
  //   if(condition){
  //     button.classList.remove('hidden');
  //   }else {
  //     button.classList.add('hieend');
  //   }
  // }
  //
  // // 페이지가 로드될 때 조건에 따라 버튼의 초기 가시성을 설정합니다.
  // window.onload = function () {
  //   toggleButtonVisibility();
  // };

</script>


