<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<div layout:fragment="content">
  <form action="/" method="get">
    <div class="row mt-3">
      <div class="col">

        <div class="card">
          <div class="card-header">
            강의 목록
          </div>
          <div class="card-body" >
            <h5 class="card-title">강의 목록</h5>

            <div class="row">
              <div class="col text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                  메모리 기반 댓글 추천
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                  모델 기반 댓글 추천
                </button>
              </div>
            </div>

            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog modal-dialog-top-right">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">메모리 기반 댓글 추천</h4>
                    <button type="button" class="close"
                            data-dismiss="modal">&times;
                    </button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body" th:each="comment : ${recommendedComments}">
                      <span th:text="${comment}"></span>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">닫기
                    </button>
                  </div>

                </div>
              </div>
            </div>

            <div class="modal" id="myModal2"> <!-- 다른 ID를 부여 -->
              <div class="modal-dialog modal-dialog-top-right">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">모델 기반 댓글 추천</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body" th:each="comment : ${modelRecommendedComments}">
                    <span th:text="${comment}"></span>
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div>

            <table class="table">
              <thead>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">교수</th>
              </tr>
              </thead>

              <tr th:each="course : ${list}"  >
                <th scope="row">[[${course.courseId}]]</th>
                <td>
                  <a th:href="|@{/course/(courseId =${course.courseId})}|"> [[${course.title}]] </a>
                </td>
                <td>[[${course.user.name}]]</td>
                <td>[[${#temporals.format(course.regdate, 'yyyy-MM-dd')}]]</td>
                <td>
                  <a th:href="@{/courses(courseId=${course.courseId})}" class="text-decoration-none">
                    <button type="button" class="btn btn-primary">참가신청</button>
                  </a>
                </td>
              </tr>

              <div>
                <a href="/coursewriteForm" th:if="${loginInfo != null}">강의 개설</a>
                <span th:if="${loginInfo == null}">강의 개설</span>
              </div>
            </table>

            <div class="float-end">
              <ul class="pagination flex-wrap">

                <th:block th:each="i: ${#numbers.sequence(1, pageCount)}">
                  <li th:class="${page == i}?'page-item active':'page-item'" >
                    <a class="page-link"  th:data-num="${i}" th:href="@{/(page=${i})}">[[${i}]]</a>
                  </li>
                </th:block>

              </ul>
            </div>

          </div><!--end card body-->
        </div><!--end card-->
      </div><!-- end col-->
    </div><!-- end row-->
  </form>
</div>

<script layout:fragment="script" th:inline="javascript">
  // document.addEventListener("DOMContentLoaded", function () {
  //   const evtSource = new EventSource('/notify');
  //
  //   evtSource.onmessage = function (event) {
  //     const newElement = document.createElement("p");
  //     newElement.textContent = "New notification: " + event.data;
  //     document.getElementById("notifications").appendChild(newElement);
  //   };
  //
  //   evtSource.onerror = function (event){
  //     console.error("EventSource failed:", event);
  //   }
  // });
</script>