<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    .custom-button {
      background-color: #6a67ce; /* 원하는 배경 색상 */
      color: white; /* 텍스트 색상 */
    }

    .custom-button:hover {
      background-color: #5a57af; /* 마우스 오버 시 배경 색상 */
    }
  </style>

</head>
<body>
<div class="container">
  <div class="row navbar bg-light align-items-center">
    <div class="col-6">
      <a class="nav-link" href="/"><h4 style="color: #a3a3a3">LMSC</h4></a>
    </div>
    <div class="col-6">
      <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:if="${loginInfo != null}" th:text="${loginInfo.name}" style="color: #1a1e21"></a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/mypage">마이페이지</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">로그아웃</a>
          </div>
        </li>
        <!-- 로그인/로그아웃 링크 -->
        <li class="login-info_logout" th:if="${loginInfo == null}">
          <a class="nav-link" href="/loginForm">로그인</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5">
  <form action="/" method="get">
    <div class="row mt-3">
      <div class="col">

        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span>나의 과목 <span style="color: #6a77ce" th:text="${courseCount}"></span></span>
            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:if="${professor}" style="color: #1aafd0">
                메시지
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
<!--                <a href="#" class="dropdown-item" data-toggle="modal" data-target="#myModal">-->
<!--                  코사인 유사도 기반 댓글 추천-->
<!--                </a>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <a href="#" class="dropdown-item" data-toggle="modal" data-target="#myModal2">-->
<!--                  자카드 유사도 기반 댓글 추천-->
<!--                </a>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <a href="#" class="dropdown-item" data-toggle="modal" data-target="#myModal3">-->
<!--                  피어슨 상관계수 기반 댓글 추천-->
<!--                </a>-->
<!--                <div class="dropdown-divider"></div>-->
                <a href="#" class="dropdown-item" data-toggle="modal" data-target="#myModal4">
                  최근 댓글 알림
                </a>
              </div>
            </div>
          </div>

          <div class="card-body">

            <div th:if="${professor}">

              <table class="table">
                <tr>
                  <th style="color: #777780" scope="col">과목</th>
                  <th style="color: #777780" scope="col">교수</th>
                  <th style="color: #777780" scope="col">사용자 및 그룹</th>
                </tr>
                <tr th:each="course : ${courseList}"  >
                  <td>
                    <a th:href="|@{/course/(courseId =${course.courseId})}|" style="color: #1a1e21">
                      <strong><span th:text="${course.title}"></span></strong>
                    </a>
                  </td>
                  <td style="color: #7d807d;" th:text="${course.user.name}"></td>
                  <td>
                    <a th:style="${course.getParticipants().size() <= 0 ? 'color: #c8c4c4;' : 'color: #6a67ce'}"  th:href="|@{/participantList/(currentCourseId =${course.courseId})}|" onclick="submitForm()" th:text="${course.getParticipants().size()}"></a>
                  </td>
                </tr>
              </table>

            </div>

            <table class="table" th:if="${student}">
              <tr>
                <th style="color: #777780" scope="col">과목</th>
                <th style="color: #777780"  scope="col">교수</th>
                <th style="color: #777780"  scope="col">동영상</th>
                <th style="color: #777780"  scope="col">과제</th>
                <th style="color: #777780"  scope="col">토론</th>
                <th style="color: #777780"  scope="col">공지</th>
                <th style="color: #777780"  scope="col">강의자료실</th>

              </tr>
              <tr th:each="progress : ${progresses}"  >
                <td>
                  <a th:href="|@{/course/(courseId =${progress.course.courseId})}|" style="color: #1a1e21">
                    <strong><span th:text="${progress.course.title}"></span></strong>
                  </a>
                </td>
                <td style="color: #7d807d;" th:text="${progress.course.user.name}"></td>
                <td>
                    <a th:style="${progress.getTotalVideos() <= 0 ? 'color: #c8c4c4;' : 'color: #6a67ce'}" th:href="|@{/videoList/(currentCourseId =${progress.course.courseId})}|" onclick="submitForm()" th:text="${progress.getTotalVideos()}"></a>
                </td>
                <td>
                  <a th:style="${progress.getTotalAssignments() <= 0 ? 'color: #c8c4c4;' : 'color: #6a67ce'}" th:href="|@{/assignmentList/(currentCourseId =${progress.course.courseId})}|" onclick="submitForm()" th:text="${progress.getTotalAssignments()}"></a>
                </td>
                <td>
                  <a th:style="${progress.getTotalDiscussions() <= 0 ? 'color: #c8c4c4;' : 'color: #6a67ce'}" th:href="|@{/list/(currentCourseId =${progress.course.courseId})}|" onclick="submitForm()" th:text="${progress.getTotalDiscussions()}"></a>
                </td>
                <td>
                  <a th:style="${progress.getTotalNotices() <= 0 ? 'color: #c8c4c4;' : 'color: #6a67ce'}" th:href="|@{/noticeList/(currentCourseId =${progress.course.courseId})}|" onclick="submitForm()" th:text="${progress.getTotalNotices()}"></a>
                </td>
                <td onclick="document.getElementById('studyHubForm').submit()">
                  <form id="studyHubForm" th:action="@{/studyHubList}" method="get">
                    <input type="hidden" name="currentCourseId" th:value="${progress.course.courseId}" />
                    <button type="submit" class="btn-link" style="padding: 0; border: none; background: none;">
                      <span th:style="${progress.getTotalResources() <= 0 ? 'color: #c8c4c4;' : 'color: #6a67ce'}" th:text="${progress.getTotalResources()}"></span>
                    </button>
                  </form>
                </td>

                <td>
                  <a th:if="${!courses.contains(progress.course)}" th:href="@{/courses(courseId=${progress.course.courseId})}" class="text-decoration-none">
                    <button type="button" class="btn btn-primary">참가신청</button>
                  </a>
                </td>
              </tr>
            </table>

            <!-- The Modal -->
            <div class="modal fade" id="myModal"> <!-- 모달 fade 클래스 추가 -->
              <div class="modal-dialog modal-dialog-top-right">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">코사인 유사도 기반 댓글 추천</h4>
                    <button type="button" class="close"
                            data-dismiss="modal">&times;
                    </button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body" th:each="comment : ${recommendedComments}">
                    <span th:text="${comment}"></span>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">닫기
                    </button>
                  </div>

                </div>
              </div>
            </div>

            <div class="modal fade" id="myModal2"> <!-- 다른 ID를 부여 -->
              <div class="modal-dialog modal-dialog-top-right">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">자카드 유사도 기반 댓글 추천</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body" th:each="comment : ${recommendJaccardComments}">
                    <span th:text="${comment}"></span>
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="myModal3"> <!-- 다른 ID를 부여 -->
              <div class="modal-dialog modal-dialog-top-right">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">피어슨 상관계수 기반 댓글 추천</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body" th:each="comment : ${recommendPearsonComments}">
                    <span th:text="${comment}"></span>
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="myModal4"> <!-- 다른 ID를 부여 -->
              <div class="modal-dialog modal-dialog-top-right">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">댓글 추천</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body" th:each="comment : ${modelRecommendedComments}">
                    <span th:text="${comment}"></span>
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="float-end">
              <ul class="pagination flex-wrap">

                <th:block th:each="i: ${#numbers.sequence(1, pageCount)}">
                  <li th:class="${page == i}?'page-item active':'page-item'" >
                    <a class="page-link"  th:data-num="${i}" th:href="@{/(page=${i})}">[[${i}]]</a>
                  </li>
                </th:block>

              </ul>
            </div>

          </div><!--end card body-->
        </div><!--end card-->

        <div class="mt-3 text-center" th:if="${professor}">
          <a class="text-decoration-none" th:href="@{/courseWriteForm}">
            <button type="button" class="btn custom-button" th:text="'강의 개설'"></button>
          </a>
        </div>

      </div><!-- end col-->
    </div><!-- end row-->
  </form>
</div>
</body>