<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <hr>
            <div th:each="notice : ${notices}">
                <div class="ms-4">
                    <a class="text-decoration-none text-black" th:href="@{/notice/(noticeId=${notice.noticeId})}">
                        <strong><h7 th:text="${notice.title}"></h7></strong>
                    </a>
                    <div class="d-flex justify-content-between">
                        <p th:text="${notice.content}" style="margin-bottom: 5px"></p>
                        <div class="text-end">게시일시:</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a class="text-decoration-none text-light-brown" th:href="@{/notice/(noticeId=${notice.noticeId}, courseId=${course.courseId})}">
                            <span th:text="'댓글 작성...'"></span>
                        </a>
                        <div class="text-end">[[${#temporals.format(notice.regdate, 'yyyy년 MM월 dd일 HH:mm')}]]</div>
                    </div>
                </div>
                <hr>
            </div>

            <div class="ms-4 text-center">
                <a th:href="@{/noticeWriteForm(courseId=${course.courseId})}" th:if="${isAdmin}"   class="text-decoration-none">
                    <button type="button" class="btn btn-primary">공지 올리기</button>
                </a>
            </div>
        </div><!-- end col-->
    </div><!-- end row-->
</div>

<script layout:fragment="script" th:inline="javascript">
</script>
</html>