<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>강의자료실</title>

  <style>
    #dropZone {
      border: 2px dashed #ccc;
      padding: 40px; /* padding을 늘려서 내부 여백을 더 넓게 설정합니다 */
      text-align: center;
      margin-bottom: 30px; /* margin-bottom을 늘려서 드롭존과 하단 요소 간의 간격을 조정합니다 */
      width: 30%; /* 전체 너비를 사용하도록 설정합니다 */
      height: 150px; /* 원하는 높이를 설정합니다 */
      display: flex; /* 내부 아이템을 가운데 정렬하기 위해 flexbox를 사용합니다 */
      justify-content: center; /* 수평 가운데 정렬합니다 */
      align-items: center; /* 수직 가운데 정렬합니다 */
    }
  </style>

</head>

<body>
  <div layout:fragment="content">
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-header">
            강의자료실 작성
          </div>
          <div class="card-body">
            <form action="/studyHubWrite" method="post" enctype="multipart/form-data">
              <input type="hidden" name="courseId" th:value="${course.courseId}" />

              <div class="input-group mb-3">

                <div class="input-group mb-3">
                  <label for="file" class="me-3">파일 선택: </label >
                  <input type="file" id="file" name="file" accept=".pdf, .doc, .docx, .txt, .pptx">  <!-- 허용할 파일 형식에 대한 제한을 설정할 수 있음 -->
                </div>

                <div id="dropZone">
                  여기에 파일을 드랍하세요
                </div>


                <div class="input-group mb-3">
                  <label for="desc" class="me-3">파일 설명: </label>
                  <input type="text" id="desc" name="desc">
                </div>
              </div>

              <div class="my-4">
                <div class="float-end">
                  <button type="submit" class="btn btn-primary">확인</button>
                  <button type="reset" class="btn btn-secondary">다시 입력</button>
                </div>
              </div>
            </form>
          </div><!--end card body-->
        </div><!--end card-->

      </div><!-- end col-->
    </div><!-- end row-->
  </div>


  <script layout:fragment="script" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      var dropZone = document.getElementById('dropZone');
      var fileInput = document.getElementById('file');

      dropZone.ondragover = function(e) {
        e.preventDefault();
        dropZone.style.borderColor = 'green';
      };

      dropZone.ondragleave = function(e) {
        e.preventDefault();
        dropZone.style.borderColor = '#ccc';
      };

      dropZone.ondrop = function(e) {
        e.preventDefault();
        dropZone.style.borderColor = '#ccc';

        var files = e.dataTransfer.files;
        fileInput.files = files;

        // 선택된 파일 이름을 알림으로 표시
        for (var i = 0; i < files.length; i++) {
          alert(files[i].name);
        }
      };
    });
  </script>

</body>
</html>
